:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  --rad: 2.5px;
  --tscolor: #ffffff68;
  --multiplier: 2.5;
  --off: 2px;
  --noff: -2px;
}

body {
  margin:0;
}

.title1 {
  white-space: nowrap;
  font-weight: 900;
  font-style: normal;
  line-height: 0.85;
  transform: scaleX(0.7);
  text-align: left;
  font-family: "Times";
  letter-spacing: calc(-1.7px / 2.5 * var(--multiplier));
  font-size: calc(1.7em * var(--multiplier));
  -webkit-text-stroke: thin;
  -webkit-text-stroke-color: #ffffff82;
  -webkit-text-stroke-width: calc(1px / 2.5 * var(--multiplier));
  text-shadow: var(--off) var(--off) var(--rad) var(--tscolor), var(--noff) var(--noff) var(--rad) var(--tscolor), var(--off) var(--noff) var(--rad) var(--tscolor), var(--noff) var(--off) var(--rad) var(--tscolor);
}

.title2 {
  white-space: nowrap;
  font-weight: 900;
  font-style: normal;
  line-height: 0.85;
  transform: scaleX(0.7);
  text-align: left;
  font-family: "Times";
  letter-spacing: calc(-1.7px / 2.5 * var(--multiplier));
  font-size: calc(3.2em * var(--multiplier));
  -webkit-text-stroke: thin;
  -webkit-text-stroke-color: #ffffff82;
  -webkit-text-stroke-width: calc(1px / 2.5 * var(--multiplier));
  text-shadow: var(--off) var(--off) var(--rad) var(--tscolor), var(--noff) var(--noff) var(--rad) var(--tscolor), var(--off) var(--noff) var(--rad) var(--tscolor), var(--noff) var(--off) var(--rad) var(--tscolor);
}

.main {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* mobile */

@media (max-width: 600px) {
  #root {
    --multiplier: 1.5;
    --rad: 1.5px;
    --noff: calc(-2px / 2.5 * 1.5);
    --off: calc(2px / 2.5 * 1.5);
  }
  .main {
    height: calc(100vh - 50px);
  }
}

@media (max-width: 400px) {
  #root {
    --multiplier: 1.35;
    --rad: 1.35px;
    --noff: calc(-2px / 2.5 * 1.35);
    --off: calc(2px / 2.5 * 1.35);
  }
  .main {
    height: calc(100vh - 50px);
  }
}